---
import "../styles/global.css"

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import NewspaperLayout from "../layouts/NewspaperLayout.astro";

const articles: CollectionEntry<"articles">[] = await getCollection("articles");

const footballArticles = articles.filter(
  (article) => article.data.category === "football"
);
---

<NewspaperLayout title="Futbol">
	
<section class="articlesContainer">

    {
        footballArticles.map((article) => (

			<div class="articleContainer">
				<a href={`/articles/${article.slug}`}>

                <article class="articlePreview">

                    <img class="articleImgPreview" src={article.data.image} />

                    <h2 class="articleTitlePreview">"{article.data.title}"</h2>

                    <p class="articleAuthorPreview">Autor: {article.data.author}</p>

                </article>

            </a>
			</div>
            

        ))
    }

</section>

</NewspaperLayout> 
