---
import "../styles/NewspaperNavBar.css"
---


<nav class="navBar">

    <a class="enlace" href="/" > El diario Deportivo</a>

    <a class="enlace" href="/Football"> Fútbol</a>

    <a class="enlace" href="/Basketball"> Baloncesto</a>

    <a class="enlace" href="/Tennis"> Tenis</a>


</nav>